<div class="comment-card-container">
    <div id="post-{{id}}" class="comment-card">
     <div class="comment-card-creation-data">
        <div class="comment-card-author">
            <img src="/{{userphoto}}" alt="" class="userphoto">
            <h3>{{username}}</h3>
        </div>
        <p class="comment-timestamp">{{created}}</p>
    </div>
    <p>{{comment}}</p>
    </div>
</div>
