<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="icon" type="image/png" href="/public/assets/favicon.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/css/globaltheme.css">
    <script type="text/javascript" src="public/js/global.js" defer></script>
    {{#each css}}
    <link rel="stylesheet" type="text/css" href="/public/css/{{this}}">
    {{/each}}
    {{#each js}}
    <script type="text/javascript" src="public/js/{{this}}" defer></script>
    {{/each}}
  </head>

  <body>
      {{> header}}
      {{#if (emptyObject messages)}}
        {{#if minFlash}}
        {{else}}
        {{> flash}}
        {{/if}}
      {{/if}}
      
      {{{body}}}

      {{#if hideFooter}}
      {{else}}
      {{> footer}}
      {{/if}}
  </body>

</html>
