<div class="content-container">
  <div class="post-content">
    <div class="image-container">
      <img class="post-image" src="/{{currentPost.photopath}}" alt="Post Image">
    </div>
    <div class="comments">
      <h1>Comments</h1>
      <div class="add-comment">
        <h3>Add a comment</h1>
      </div>
      <div class="comment-post">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam rem molestiae, repellendus ea est repudiandae, assumenda saepe libero sed quia expedita, aspernatur inventore architecto facilis ipsam nisi? Reprehenderit, eius perferendis.</p>
      </div>
      <div class="comment-post">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam rem molestiae, repellendus ea est repudiandae, assumenda saepe libero sed quia expedita, aspernatur inventore architecto facilis ipsam nisi? Reprehenderit, eius perferendis.</p>
      </div>
      <div class="comment-post">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam rem molestiae, repellendus ea est repudiandae, assumenda saepe libero sed quia expedita, aspernatur inventore architecto facilis ipsam nisi? Reprehenderit, eius perferendis.</p>
      </div>
      <div class="comment-post">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam rem molestiae, repellendus ea est repudiandae, assumenda saepe libero sed quia expedita, aspernatur inventore architecto facilis ipsam nisi? Reprehenderit, eius perferendis.</p>
      </div>
      <div class="comment-post">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam rem molestiae, repellendus ea est repudiandae, assumenda saepe libero sed quia expedita, aspernatur inventore architecto facilis ipsam nisi? Reprehenderit, eius perferendis.</p>
      </div>

    </div>
  </div>

  <div class="right-column">
    <h2 class="post-title">{{currentPost.title}}</h2>
    <p class="post-author">by {{currentPost.username}}</p>
    <p class="post-timestamp">{{timeString}}</p>
    <p class="post-description">{{currentPost.description}}</p>
  </div>
</div>

